body {
    padding: 5px;
}

#lastMessage,
#lastAlert {
    display: inline-block;
    margin: .5em 0;
    padding: 5px;
    border-radius: 3px;
}

table td,
table th {
    padding: 5px;
}

.testingTable {
    margin-bottom: 1em;
}

.testingTable,
.testingTable td,
.testingTable th {
    border: 1px solid #000;
}

.testingTable ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#actionTable td,
#listTable td {
    text-align: center;
    vertical-align: top;
}

#listTable {
    width: 100%;
}

#listTable td {
    width: 33%;
}

/*#yourHandList li,
#yourDiscardPileList li,
#opponentDiscardPileList li {
    display: inline;
    margin: 0 .5em;
}*/

.yourHandTd a {
    text-decoration: none;
}

#deckSpan {
    font-weight: bold;
}

.element {
    vertical-align: middle;
    font-weight: bold;
    font-size: 1.5em;
}

.wood {
    color: brown;
}

.fire {
    color: crimson;
}

.earth {
    color: olivedrab;
}

.metal {
    color: grey;
}

.water {
    color: steelblue;
}