body {
    padding: 5px;
}

#explanation {
    font-size: .8em;
}

#lastMessage,
#lastAlert {
    display: inline-block;
    margin: .5em 0;
    padding: 3px 0;
    border-radius: 3px;
}

table td,
table th {
    padding: 5px;
}

.testingTable {
    margin-bottom: 1em;
}

.testingTable,
.testingTable td,
.testingTable th {
    border: 1px solid #000;
}

.testingTable ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#actionTable td,
#listTable td {
    text-align: center;
    vertical-align: top;
}

#listTable {
    width: 100%;
}

#listTable td {
    width: 33%;
}

#yourDiscardPileList li,
#opponentDiscardPileList li {
    display: inline;
    margin: 0 .5em;
}

#battleTable {
    width: 100%;
}

.yourHandTd a {
    text-decoration: none;
}

#deckSpan {
    font-weight: bold;
}

.element {
    font-weight: bold;
    font-size: 1.5em;
    white-space: nowrap;
}

.wood {
    color: sienna;
}

.fire {
    color: crimson;
}

.earth {
    color: olivedrab;
}

.metal {
    color: grey;
}

.water {
    color: steelblue;
}

.card {
    display: inline-block;
    border: 1px solid #111;
    border-radius: 3px;
    margin: 0 1px;
    padding: 30px 5px;
    box-shadow: 1px 2px rgba(17, 17, 17, .5);
}